<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- 配置驼峰自动映射：开启此选项，可以解决数据库表中字段与实体类属性名称不一致问题
			例如：字段 user_id 对应 userId，开启此选项后，mybatis 将会把 user_id 转化为 userId，可实现自动分装结果集
		 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 关闭 mybatis 二级缓存总开关 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
	<plugins>
		<!-- 分页插件：com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 方言 -->
			<property name="dialect" value="mysql" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询，查询数据总条数 -->
			<property name="rowBoundsWithCount" value="true" />
		</plugin>
		
		<!-- 通用Mapper插件 -->
		<plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
			<!--主键自增回写方法,默认值MYSQL,详细说明请看文档 -->
			<property name="IDENTITY" value="MYSQL" />
			<!--通用Mapper接口，多个通用接口用逗号隔开 -->
			<property name="mappers" value="diary.common.mapper.SysMapper" />
		</plugin>
	</plugins>

</configuration>